/* A sidebar não é exibida na tela inicial */
[data-testid="stSidebar"] {
    display: none;
}

/* Centraliza todos os elementos da página */
[data-testid="stVerticalBlock"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Define o tamanho máximo da img como 200px */
[data-testid="stImage"] {
    max-width: 200px !important;
}

/* Botão iniciar destacado */
[data-testid="stLinkButton"] {
    margin-top: 50px;
}
