/* .st-key-AIBtn > .stButton {
    background-color: aqua;
}

.st-key-AIBtn {
    background-color: aqua;
} */

.st-key-stTooltipHoverTarget {
    display: none;
}

.stImage {
    width: 450px;
}

.img-container {
    height: 150px;          /* fixed height */
    width: 100%;            /* full column width */
    overflow: hidden;       /* hide overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;      /* crop instead of resize */
}

[data-testid="stImage"] img {
        height: 180px !important;
        width: 500px !important;
        object-fit: cover;
    }