/* A sidebar não é exibida na tela inicial */
[data-testid="stSidebar"] {
    display: none;
}

/* Centraliza todos os elementos da página */
[data-testid="stVerticalBlock"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Define o tamanho máximo da img como 200px */
[data-testid="stImage"] {
    max-width: 200px !important;
}

/* Botão iniciar destacado */
[data-testid="stPageLink-NavLink"] {
    background-color: rgb(5, 73, 161);
    padding: 4px;
    margin-top: 20px;
}

[data-testid="stPageLink-NavLink"]:hover {
    background-color: rgb(4, 58, 129);
}